package ${package}.service;

import com.baomidou.mybatisplus.extension.service.IService;
import ${package}.model.entity.${className};

import java.util.Map;

/**
 * ${comments}
 *
 * @author ${author}
 */
public interface ${className}Service extends IService<${className}> {

}

