package ${package}.model.vo;

import lombok.Data;
import lombok.experimental.Accessors;
import io.swagger.annotations.ApiModel;

import java.io.Serializable;

/**
 * ${comments}VO
 *
 * @author ${author}
 */
@Data
@Accessors(chain = true)
@ApiModel("${className}VO")
public class ${className}VO implements Serializable {
    private static final long serialVersionUID = 1L;


}