<!DOCTYPE html>
<html>
<head>
    <title>代码生成器</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="plugins/jqgrid/ui.jqgrid-bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="libs/jquery.min.js"></script>
    <script src="plugins/layer/layer.js"></script>
    <script src="libs/bootstrap.min.js"></script>
    <script src="libs/vue.min.js"></script>
    <script src="plugins/jqgrid/grid.locale-cn.js"></script>
    <script src="plugins/jqgrid/jquery.jqGrid.min.js"></script>
    <script src="js/common.js"></script>
</head>
<body>
<div id="rrapp">
    <div class="row" style="display: flex;flex-direction: column;">
        <div class="panel panel-default">
            <div class="panel-heading">数据库配置</div>
            <div style="padding: 10px 0 10px 0;">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="ip">主机（必填项）：</label>
                        <input type="text" id="ip" class="form-control" v-model="formConnect.ip" placeholder="主机">
                    </div>
                    <div class="form-group">
                        <label for="port">端口（必填项）：</label>
                        <input type="text" id="port" class="form-control" v-model="formConnect.port" placeholder="端口">
                    </div>
                    <div class="form-group">
                        <label for="username">用户名（必填项）：</label>
                        <input type="text" id="username" class="form-control" v-model="formConnect.username"
                               placeholder="用户名">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="password">密码（必填项）：</label>
                        <input type="text" id="password" class="form-control" v-model="formConnect.password"
                               placeholder="密码">
                    </div>
                    <div class="form-group">
                        <label for="dbName">数据库名（必填项）：</label>
                        <input type="text" id="dbName" class="form-control" v-model="formConnect.dbName"
                               placeholder="数据库名">
                    </div>
                    <div class="form-group">
                        <label for="pack">包名：</label>
                        <input type="text" id="pack" class="form-control" v-model="formConnect.pack" placeholder="包名">
                    </div>
                </div>
                <div class="col-sm-4" style="margin-bottom: 20px">
                    <div class="form-group">
                        <label for="author">作者：</label>
                        <input type="text" id="author" class="form-control" v-model="formConnect.author" placeholder="作者">
                    </div>
                    <div class="form-group">
                        <label for="tablePrefix">表前缀（如有多个则用,分隔）：</label>
                        <input type="text" id="tablePrefix" class="form-control" v-model="formConnect.tablePrefix"
                               placeholder="表前缀">
                    </div>
                    <div class="form-group" style="display: flex;flex-direction: column;">
                        <label> &nbsp;</label>
                        <a class="btn btn btn-primary" @click="getConnection">保存配置并获取连接</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-inline">
            <div class="form-group" style="display: flex;align-items: center;flex-wrap: wrap;margin-top: 20px;">
                <label for="tableName" style="margin-bottom: 20px;">表名：</label>
                <input type="text" id="tableName" class="form-control" v-model="q.tableName" @keyup.enter="query"
                       placeholder="表名" style="margin:0 10px 20px 0;"/>
                <a class="btn btn-default" style="margin:0 10px 20px 0;" @click="query">查询</a>
                <a class="btn btn-primary" style="margin:0 10px 20px 0;" @click="generator"><i
                        class="fa fa-file-code-o"></i>&nbsp;生成代码</a>
            </div>
        </div>
    </div>
    <table id="jqGrid"></table>
    <div id="jqGridPager"></div>
</div>

<script src="js/generator.js"></script>
</body>
</html>